{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://nominatim.openstreetmap.org/search?accept-language=en&addressdetails=1&format=json&q=zzzzzz%20invalid%20nonsense%20address%2099999",
        "body": {
          "encoding": "US-ASCII",
          "base64_string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "base64_string": "W10=\n"
        }
      },
      "recorded_at": "Wed, 04 Jun 2025 18:00:19 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://nominatim.openstreetmap.org/search?accept-language=en&addressdetails=1&countrycodes=us,ca&format=json&q=zzzzzz%20invalid%20nonsense%20address%2099999",
        "body": {
          "encoding": "US-ASCII",
          "base64_string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "base64_string": "W10=\n"
        }
      },
      "recorded_at": "Thu, 05 Jun 2025 20:44:04 GMT"
    }
  ],
  "recorded_with": "VCR 6.3.1"
}