<header class="app-header">
  <div class="header-content">
    <h1><%= link_to "Weather Forecast", root_path %>
    </h1>

    <nav>
      <%= link_to "Locations", locations_path %>
      <%= link_to "Add Location", new_location_path, class: "btn btn-primary" %>
    </nav>
  </div>
</header>
